
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="container page-header">
    <h1 class="ml-2 mt-5">Olá, {% if name %}{{ name }}{% else %}Estranho{% endif %}!</h1>
    <p class="ml-2">Prazer em conhecê-lo!</p>
    <hr/>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
base.html
Exibindo base.html…