
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="container d-flex justify-content-center mt-3">
    <form method="POST" class="d-flex flex-column align-items-center border p-4">
        {{ form.csrf_token }}
        <h2 class="mt-2 align-self-start">Login:</h2>
        <div class="mt-2">{{ form.username(placeholder="Usuário ou e-mail") }}</div>
        <div class="mt-2">{{ form.password(placeholder="Informe a sua senha") }}</div>
        <div class="mt-2 align-self-start">{{ form.submit() }}</div>
    </form>
</div>

<div class="container ">
    <p class="ml-2">The local date and time is {{moment(current_time).format('LLL') }}</p>
    <p class="ml-2">That was {{moment(current_time).fromNow(refresh=true) }}</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
base.html
Exibindo base.html…