
{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block page_content %}
<div class="container page-header">
    <h1 class="ml-2 mt-5">Olá, {{ name }}!</h1>
    <hr/>
</div>
<div class="container ">
    <h2 class="ml-2">Seu navegador é: {{ user_agent }}</h2>
    <h2 class="ml-2">O IP do computador remoto é: {{ ip }}</h2>
    <h2 class="ml-2">O host da aplicação é: {{ url }}</h2>
</div>
{% endblock %}

base.html
Exibindo base.html…