
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="container page-header">
    <h1 class="ml-2 mt-5">Dados do acesso</h1>
    <hr/>
    <h3 class="ml-2 mt-4">Você está acessando o sistema por meio do usuário {{ username }}</h2>
</div>

<div class="container ">
    <p class="ml-2">The local date and time is {{moment(current_time).format('LLL') }}</p>
    <p class="ml-2">That was {{moment(current_time).fromNow(refresh=true) }}</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
base.html
Exibindo base.html…